@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");
body {
  margin: 0;
  padding: 0;
}
.font {
  font-family: "Rubik Dirt", cursive;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
